<div>
	
	<h2>Agregar materias <small>Agrega las materias que son de tu interes a tu lista.</small></h2>
	<div class="jumbotron">
		<div class="container">
		    <h1>Mis materias</h1>
        <h2><small>Tu lista actual se despliega en pantalla. Los ramos que están en el menú desplegable corresponden a los que puedes seleccionar. Si quieres agregar un ramo selecciónalo y presiona el botón para agregar a la lista. Una vez agregados los ramos que deseas, actualiza tu lista con el botón para actualizar.</small></h2>

			</br></br></br>
      <div>
        <div class="row">
            <div class="form-group">
                  <p><font color="white">2</font><small> Materia de Estudio: </small>

                  <select ng-model="MateriaSeleccionada" ng-options="materia as materia.nombreRamo for materia in materias track by materia.ramoId" class="form-control input-lg">
                    <option value="" selected disabled>Seleccione una materia...</option>
                  </select>

                  </p>
              </div>
              </br>

              <button ng-click = "agregarLista()" class="pull-right btn btn-primary btn-lg btn-outline btn-rounded">Actualizar Lista</button>

              <button ng-click = "agregarAlista()" class="pull-right btn btn-primary btn-lg btn-outline btn-rounded">Agregar Materia a Lista</button>

            
              </br></br>
          <span style="font-size:22pt">
            Lista de interes:
            </br></br>
            <ul ng-repeat="m in ListaAux">
              <span style="font-size:15pt">
            .- {{m.nombreRamo}}
              </span>
          </ul>
          </span>
          {{retorno}}
          <!--/div-->
        </div>  
      </div>
    </div>
  </div>
</div>