<div>
  
  <h2>Modificar mis datos de ayudante <small>Observa y modifica tus datos ayudante.</small></h2>
  <div class="jumbotron">
    <div class="container">

        <div class="row">
            <span style="font-size:22pt">
            Para poder ser ayudante debes pagar una suma de dinero anual.
            </span>
        </div>
        </br>
        <h2><small>Si estas de acuedo con la condición haz clic en el siguiente boton!!</small></h2>
        <button ng-click = "serAyudante2()" class="pull-right btn btn-primary btn-lg btn-outline btn-rounded">Ser Ayudante</button>
      </div>

</div>