<div>
  
  <h2>Dejar de ser ayudante </h2>
  <div class="jumbotron">
    <div class="container">

        <div class="row">
            <span style="font-size:22pt">
            Si dejas de ser ayudante dejaras de pagar el monto anual.
            </span>
        </div>
        </br>
        <h2><small>Si quieres dejar de ser ayudante haz clic en el siguiente boton!!</small></h2>
        <button ng-click = "eliminarAyudante2()" class="pull-right btn btn-primary btn-lg btn-outline btn-rounded">Dejar de ser Ayudante</button>
      </div>

</div>